
.App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;

}
.cardContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 75%;
  background-color: #3d2a2a;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
}
.rowGroup{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-content: start;
}
.contactInfo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* Align items to the top-left */
  gap: 0; /* Remove space between items */
}
.contactName{
  font-size: 1.5em;
  font-weight: bold;
  margin: 0; /* Remove any default margin */
  text-align: left;
}
.contactPronouns{
  font-size: 1.2em;
  font-weight: bold;
  margin: 0; /* Remove any default margin */
  text-align: left;
  opacity: 0.5;
}
.contactMajor{
  font-size: 1.2em;
  font-weight: bold;
  margin: 0; /* Remove any default margin */
  text-align: left;
  opacity: 0.75;
}

.App-link {
  color: #61dafb;
}
